
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i{
  cursor: pointer;
}

.left_box{
  border: 1px dashed #e9b8e9;
  background-color: #ffd2ff6e;
  border-radius: 10px;
  width: 30%;
  font-family: fangsong;
  font-style: normal;
  
}
.left_box_dark{
  border: 1px dashed white;
  background-color: black;
  border-radius: 10px;
  width: 30%;
  font-family: fangsong;
  font-style: normal;
  
}
.right_box{
  width: 70%;
  /* border: 2px solid #e9b8e9; */
  border-radius: 10px;
  padding: 0px 10px;
  margin: 0 1rem;
    font-family: fangsong;
  font-style: normal;
}
.form_design{
  padding: 20px;
}
.btn_center{
  text-align: center;
  margin-top: 3rem;
}

.card{
  border: 2px solid #e9b8e9;
  box-shadow: 5px 5px 0px #ffd2ffc9;
  cursor: pointer;
background-color: white;
}
.card_dark{
  border: 2px solid white;
  box-shadow: 5px 5px 0px white;
  cursor: pointer;
background-color: black;
word-wrap: break-word;
}
.textlight{
  color:black;
}
.textdark{
  color:white
}
.card-title{

  background-color: #ffd2ff6e;
  border-radius: 10px;
  text-align: center;
}
.card-title-dark{

  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 10px;
  text-align: center;
}

.card-text{
  border: 1px dashed #e9b8e9;
  padding: 3px;
  border-radius: 10px;
  height: 3.5rem;
}
.card-text-dark{
  border: 1px dashed white;
  padding: 3px;
  border-radius: 10px;
  height: 3.5rem;
}

.card:hover{
  box-shadow: 8px 8px 0px #ffd2ffc9;
}

.notes_heading{
  background-color: #ffd2ff6e;
  border: 1px dashed #e9b8e9;
  border-radius: 10px;
}
.notes_heading_dark{
  background-color: black;
  border: 1px dashed white;
  border-radius: 10px;
}

.res_form{
  margin: auto;
  width: 50%;
}
.flexible{
  display: flex;
}
.bgcolor {
  background-color: #98929621;
}
.bgcolordark {
  background-color: white;
}
.imground{
border-radius: 50%;
width: 50px;
height: 50px;
;
cursor: pointer;
}
.hoverbtn:hover{
  background-color: white !important;
  color: black;
}

.breadcrumb-item{
 text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

.img-fluid{
border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-btn{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.displayedit{
  color: black;
  display: flex;
  justify-content: end;
        margin-top: 10px;

 
 
}
.displayedit:hover {
  color: black;
}

.displayedit:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 6rem;
  font-size: 0.8rem;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.2rem;
  transition: opacity 1s ease-in-out;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  right: 0rem;
  top: 2rem;

}

.displayedit:hover:before {
  opacity: 1;
  visibility: visible;
}


.left_side{
  width: 40%;
}
.right_side{
  width: 80%;
}
.gapprofile{
  gap: 8rem;
}
.profiledit{
  display: flex;
  flex-direction: row;
  gap:2rem
}
.eyeicon{
      position: relative;
     
        top: 10px;
        right: 26px;
}
@media screen and (max-width: 830px) {
  .left_box{
    width: 90%;
    margin: 5rem;
  }
  .right_box{
    width: 100% ;
  }
  .notes_heading{
    width: 100%;

  }
  .card{
    width: 45% !important;
  }
  .flexible{
  flex-direction: column;
}
.res_form{
  width: 100% !important;
  margin: 0 !important;
}
.profiledit {
  display: flex;
  flex-direction: column;
  gap: 0.2rem
}
.gapprofile {
  gap: 4rem;
}
.left_side{
  width: 100%!important;
}
.right_side{
width: 100% !important;
}
}